.carousell img {
  width: 60%;
  margin: 0 auto;
  border-radius: 40px;
}

.titulo h3{
    font-size: 3em;
    text-align: center;
    margin:10px 0 10px 0; 
}
article{
    display: flex;
    justify-content: center;
}
.seleccion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;

}
.seleccion p{
    font-size: 1.2em;
    margin: 1em;
    padding:1em;
    border-radius: 20px;
   
}

.icono{
    width: 20em;
    height: 20em;
    margin:0.9em;
    border-radius:50%;
}
.icono i{
    font-size: 10em;
    margin:auto;
    color:white;
    position: relative;
    top: 0.5em;
    left: 0.5em;
}

.bg-1{
    background-color:#4BC5CC;

}
.bg-2{
    background-color:#519599;

}
.bg-3{
    background-color:#21ff8e;
}


.datos{
    display: flex;
    
}
.sede{
   width: calc(25%);
   
}

.sede img{
    width: 100%;
    opacity: 0.4;
    position: relative;
    
}
.sede img:hover{
    scale: 1.2;
    opacity: 1;
    z-index: 3;
    
}
.sede p{
    position: relative;
    bottom: 80px;
    background-color: #ff8595;
    padding: 10px 5px 10px 0;
    border-radius: 0 20px 20px 0;
    width: 40%;
}
.establecimientos_mapas{
    display: flex;
}
.mapas{
    width: calc(25%)-5px;
    margin-bottom: 5px;
    border-color: black;
    border: 1px solid #ff8595;
    
 }
 .mapas:hover{
     scale: 1.2;
 }
 .mapas iframe{
    width: 100%;
    height: 100%;
 }
 .mapas p{
     text-align: center;
     background-color:#4BC5CC;
 }

.formulario__inscripcion{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin:30px auto;
    background-color: gray;
}
label{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    margin:0.5em;
}
input[type=submit]{
    margin: 20px;
    width: 100px;
    align-self: center;

    
}
.form1{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.form2{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

@media (max-width:360px){
    .inscribite{
        margin:0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .datos{
        display: flex;
        flex-direction: column;
        margin:  0 auto;
    }
  
    .sede img{
        width: 65%;
        opacity: 0.4;
        
    }


}