*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    grid-template-areas: 
        " header header header" 
        "main main main"   
        "footer footer footer"    
    ;
}
header{
    height: 110px;
    margin-top: 46px;
    margin-bottom: 36px;
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: url(../img/fondo.png) repeat-x center left;
  
    }
header .logo{
    font-size: xx-large;
    margin:15px;
    text-align: center;
}
header ul{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
header li {
    list-style: none;
    margin: 15px;
    padding: 15px;

}

header a{
    text-decoration: none;
    color: black;

}
header a:hover{
    text-decoration: none;
    color: red;
}

footer{
    grid-area:footer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    color:white;
    padding-top:2% ;
}
footer .redes i{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 30px;
    margin:10px;

}
